
.toolsPanel .btn {
  min-width: 70px;
}

.bricks-grid {
  position: relative;
  background-color: gray;
  overflow: hidden;
  margin-bottom: 5px;
}

.templateSector {
  position: absolute;
}

.control-panel {
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: start;
  align-items: center;
  /* border: 2px solid black; */
}

.control-panel p {
  /* margin-bottom: 10px; */
  margin: 0;
  margin-right: 5px;
}

.grid-size-options-panel .input-grid-size {
  text-align: center;
  max-width: 100px;
}

.grid-sector-options-panel .input-sector-size {
  text-align: center;
  max-width: 40px;
}

.brick {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-color: darkslategrey;
  background-color: darkgray;
  border-style: solid;
  display: inline-block;
}

.workArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-area-preview {
    display: inline-grid;
}

.tileItem {
  display: block;
  position: relative;
  overflow: hidden;
}

.sectorItem {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #808080;
}

.sectorLine {
  position: absolute;
  background-color: black;
}

.active {
  background-color: aqua;
}

.color-preview {
  width: '100%'; 
  height: '20px';
  text-align: center;
  border: 1px solid gray;
  margin-top: 2px;
  margin-bottom: 2px;
}

.color-preview p {
  margin: auto;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
