.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.toolsPanel .btn {
  min-width: 70px;
}

.bricks-grid {
  position: relative;
  background-color: gray;
  overflow: hidden;
  margin-bottom: 5px;
}

.templateSector {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid black;
}

.control-panel  {
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-size-options-panel .input-grid-size {
  text-align: center;
  max-width: 100px;
}

.grid-sector-options-panel .input-sector-size {
  text-align: center;
  max-width: 40px;
}

.brick {
  position: absolute;
  top: 0;
  left: 0;
  background-color: darkslategrey;
  width: 95%;
    height: 80%;
    margin: auto auto;
    display: inline-block;
}

.brick .hor {
    width: 95%;
    height: 80%;
    margin: 2.5% auto;
}

.brick .ver {
  width: 80%;
  height: 95%;
  margin: 4.5% auto;
}

.workArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-area-preview {
    display: grid;
    justify-content: center;
    background-color: #808080;
}

.tileItem {
  display: block;
  position: relative;
  overflow: hidden;
}

.sectorItem {
  display: block;
  position: relative;
  overflow: hidden;
}

.active {
  background-color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
