
.toolsPanel .btn {
  min-width: 70px;
}

.bricks-grid {
  position: relative;
  background-color: gray;
  overflow: hidden;
  /* margin-bottom: 5px; */
}

.templateSector {
  position: absolute;
}

.control-panel {
  margin: 10px 0 10px;
  display: block;
  justify-content: start;
  align-items: center;
  /* border: 2px solid black; */
}

.control-panel p {
  /* margin-bottom: 10px; */
  margin: 0;
  margin-right: 5px;
}

.brick {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-color: #272f2f;
  background-color: darkgray;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

.brick.active {
  background-color: lightgray !important;
}

.workArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-area-preview {
    display: inline-grid;
}

.tileItem {
  display: block;
  position: relative;
  overflow: hidden;
}

.sectorItem {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #808080;
}

.sectorLine {
  position: absolute;
  background-color: black;
}

.active {
  background-color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button.brick {
  cursor: pointer;
}

.button.brick:hover {
  border-color: gray;
}

.custom-file-input {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 20px !important;
  height: 20px !important;
  display: block !important;
  font-size: 0 !important;
  border: none !important;
  background: none !important;
  cursor: pointer !important;
}

.tool-button {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  box-sizing: border-box;
  background-size: contain;
  cursor: pointer;
}

.tool-button:hover {
  background-color: grey;
}

.trash-button {
  background-image: url('../images/trash.png');
}

.trash-button.buttonActive {
  background-color: lightcoral;
}

.paint-button {
  background-image: url('../images/brush.png');
}

.random-button {
  background-image: url('../images/random.png');
}

.tool-button.buttonActive {
  border: 1px solid grey;
}

.textureTypePanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.textureTypePanel .textureTypePanel-item {
  /* display: block; */
  margin: 0;
  margin-right: 15px;
  padding: 0;
  font-size: 12px;
  text-align: center;
  position: relative;
}

.textureTypePanel .textureTypePanel-item .input {
  position: absolute;
  display: block;

  left: 110%;
  top: 50%;
  transform: translateY(-50%);
}