.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.toolsPanel .btn {
  min-width: 70px;
}

.bricks-grid {
  width: 400px;
  height: 400px;
  position: relative;
  background-color: gray;
  overflow: hidden;
}

.testbrick {
  position: absolute;
  top: 0;
  left: 0;
  background-color: darkslategrey;
  width: 95%;
    height: 80%;
    margin: auto auto;
    display: inline-block;
}

.testbrick .hor {
    width: 95%;
    height: 80%;
    margin: auto auto;
    display: inline-block;
}

.testbrick .ver {
  width: 80%;
  height: 95%;
  margin: auto auto;
  display: inline-block;
}

.workArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marker-grid-position {
  position: absolute;
  top: 0;
  height: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.active {
  background-color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}